* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.form>* {
  margin-bottom: 10px;
}

.output {
  display: flex;
  flex-direction: column;
}
